
@font-face {
  font-family: 'Tosia';
  src: url('../fonts/Tosia-BoldItalic.eot');
  src: url('../fonts/Tosia-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-BoldItalic.woff2') format('woff2'),
      url('../fonts/Tosia-BoldItalic.woff') format('woff'),
      url('../fonts/Tosia-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tosia';
  src: url('../fonts/Tosia-BlackItalic.eot');
  src: url('../fonts/Tosia-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-BlackItalic.woff2') format('woff2'),
      url('../fonts/Tosia-BlackItalic.woff') format('woff'),
      url('../fonts/Tosia-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tosia';
  src: url('../fonts/Tosia-DemiBoldItalic.eot');
  src: url('../fonts/Tosia-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-DemiBoldItalic.woff2') format('woff2'),
      url('../fonts/Tosia-DemiBoldItalic.woff') format('woff'),
      url('../fonts/Tosia-DemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tosia';
  src: url('../fonts/Tosia-ExtraBoldItalic.eot');
  src: url('../fonts/Tosia-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/Tosia-ExtraBoldItalic.woff') format('woff'),
      url('../fonts/Tosia-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tosia';
  src: url('../fonts/Tosia-RegularItalic.eot');
  src: url('../fonts/Tosia-RegularItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-RegularItalic.woff2') format('woff2'),
      url('../fonts/Tosia-RegularItalic.woff') format('woff'),
      url('../fonts/Tosia-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tosia';
  src: url('../fonts/Tosia-LightItalic.eot');
  src: url('../fonts/Tosia-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-LightItalic.woff2') format('woff2'),
      url('../fonts/Tosia-LightItalic.woff') format('woff'),
      url('../fonts/Tosia-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tosia';
  src: url('../fonts/Tosia-MediumItalic.eot');
  src: url('../fonts/Tosia-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-MediumItalic.woff2') format('woff2'),
      url('../fonts/Tosia-MediumItalic.woff') format('woff'),
      url('../fonts/Tosia-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tosia';
  src: url('../fonts/Tosia-ThinItalic.eot');
  src: url('../fonts/Tosia-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-ThinItalic.woff2') format('woff2'),
      url('../fonts/Tosia-ThinItalic.woff') format('woff'),
      url('../fonts/Tosia-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tosia UltraThin';
  src: url('../fonts/Tosia-UltraThinItalic.eot');
  src: url('../fonts/Tosia-UltraThinItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-UltraThinItalic.woff2') format('woff2'),
      url('../fonts/Tosia-UltraThinItalic.woff') format('woff'),
      url('../fonts/Tosia-UltraThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tosia';
  src: url('../fonts/Tosia-Black.eot');
  src: url('../fonts/Tosia-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-Black.woff2') format('woff2'),
      url('../fonts/Tosia-Black.woff') format('woff'),
      url('../fonts/Tosia-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tosia';
  src: url('../fonts/Tosia-Bold.eot');
  src: url('../fonts/Tosia-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-Bold.woff2') format('woff2'),
      url('../fonts/Tosia-Bold.woff') format('woff'),
      url('../fonts/Tosia-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tosia';
  src: url('../fonts/Tosia-DemiBold.eot');
  src: url('../fonts/Tosia-DemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-DemiBold.woff2') format('woff2'),
      url('../fonts/Tosia-DemiBold.woff') format('woff'),
      url('../fonts/Tosia-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tosia';
  src: url('../fonts/Tosia-ExtraBold.eot');
  src: url('../fonts/Tosia-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-ExtraBold.woff2') format('woff2'),
      url('../fonts/Tosia-ExtraBold.woff') format('woff'),
      url('../fonts/Tosia-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tosia';
  src: url('../fonts/Tosia-Light.eot');
  src: url('../fonts/Tosia-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-Light.woff2') format('woff2'),
      url('../fonts/Tosia-Light.woff') format('woff'),
      url('../fonts/Tosia-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tosia';
  src: url('../fonts/Tosia-Regular.eot');
  src: url('../fonts/Tosia-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-Regular.woff2') format('woff2'),
      url('../fonts/Tosia-Regular.woff') format('woff'),
      url('../fonts/Tosia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tosia';
  src: url('../fonts/Tosia-Medium.eot');
  src: url('../fonts/Tosia-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-Medium.woff2') format('woff2'),
      url('../fonts/Tosia-Medium.woff') format('woff'),
      url('../fonts/Tosia-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tosia';
  src: url('../fonts/Tosia-Thin.eot');
  src: url('../fonts/Tosia-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-Thin.woff2') format('woff2'),
      url('../fonts/Tosia-Thin.woff') format('woff'),
      url('../fonts/Tosia-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tosia UltraThin';
  src: url('../fonts/Tosia-UltraThin.eot');
  src: url('../fonts/Tosia-UltraThin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Tosia-UltraThin.woff2') format('woff2'),
      url('../fonts/Tosia-UltraThin.woff') format('woff'),
      url('../fonts/Tosia-UltraThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }          

ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}

body {
  font-family: 'Tosia';
  font-size: 16px;
  color: #2c2c2c;
  line-height: 1.4; 
  font-weight: 300;
}

a,
a:hover,
a:focus,
a:active {
  color: #777;
  text-decoration: none;
  -webkit-transition: all .25s;
  transition: all .25s; 
}

.page__main {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  /* display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  flex-wrap: wrap; */
  display: table-row;
  
}

.main__contentWrapper,
.sidebar__contentWrapper {
  width: 100%;
  padding: 2rem 1rem;
  display: table-cell;
  vertical-align: top;
}

.main__contentWrapper {
  /* flex-basis: 66.66%; */
  max-width: 66.66%;
  min-width: 66.66%;
}

.sidebar__contentWrapper {
  min-height: 100vh;
  color: #fff;
  max-width: 66.66%;
  min-width: 66.66%;
  /* flex-basis: 33.33%; */
  background: rgb(136,153,214);
  background: linear-gradient(180deg, rgba(136,153,214,1) 0%, rgba(82,101,164,1) 51%, rgba(34,50,105,1) 100%);
}



h1,h2,h3,h4,h5,h5 {
  font-family: 'Tosia';
  font-weight: 400;
  color: #171717;
}

h1 {
  font-weight: 600;
  color: #173e8a;
}

.list__inlineInfo.list__inlineInfo--icon dt {
  font-size: 0.88rem;
}
.list__inlineInfo.list__inlineInfo--icon dd {
  font-size: 0.88rem;
}

.list__inlineInfo dt,
.list__inlineInfo dd {
  display: inline-block;
  margin-left: 0;
}

.list__inlineInfo dd:not(:last-child) {
  margin-right: 1rem;
}

.list__inlineInfo a {
  color: inherit;
}

.highlighted {
  /* font-size: 1.15rem; */
  font-weight: 300;
}

.highlighted--large {
  font-size: 1.25rem;
}

.highlighted--blue {
  color: #fa7e33;
}

.main__header {
  padding: 0 0 2rem 0;
}

.main__header > * {
  margin-top: 0;
  margin-bottom: 0;
}

.main__header > dl {
  margin-top: 0.5rem;
}

.header__primary {
  font-size: 1.15rem;
  position: relative;
  padding-bottom: 0.75rem;
  text-transform: uppercase;
  color: #173e8a;
  margin-top: 0;
}

.header__primary:after {
  content: '';
  height: 1px;
  position: absolute;
  top: 100%;
  left:0;
  right: 0;
  background: rgba(44, 44, 44, 0.1);
}

.sidebar__header {
  color: #fff;
  margin-bottom: 1rem;
}

.sidebar__header:after {
  background: rgba(255,255,255,0.1);
}

.section__detailsWrapper {
  padding: 2rem 0;
}

.list__inlineTag {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list__inlineTag > li {
  display: inline-block;
  padding: 0.2rem;
  margin-top: 0.75rem;
  margin-right: 0;
  padding: 0.15rem 0.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: orange; */
  border-radius: 5px;
}

.list__inlineTag > li > i {
  /* font-size: 0.88rem; */
  margin-right: 0.3rem;
  /* display: inline-block; */
}

.list__inlineTag > li:nth-of-type(1),
.list__inlineTag > li:nth-of-type(2),
.list__inlineTag > li:nth-of-type(3),
.list__inlineTag > li:nth-of-type(4) {
  margin-top: 0;
}

.list__inlineTag > li > i,
.list__inlineTag > li > span {
  font-size: 0.88rem;
}

.header__timeline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.header__timeline h5 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

.header__timeline span {
   /* fn  */
}

.list__roleInfo {
  margin-bottom: 1rem;
}

.list__timeline > li {
  margin-bottom: 1.5rem;
  position: relative;
  padding-left: 2rem;
  padding-right: 1.5rem;
}

.list__timeline > li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(44, 44, 44, 0.2);
}

.list__timeline > li:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 22px;
  width: 1px;
  /* height: calc(100% - 25px); */
  height: calc(100% - 25px);
  /* background: #171717; */
  background: rgba(44, 44, 44, 0.1);
}


.sidebar__picture {
  text-align: center;
}

.sidebar__picture img {
  max-width: 100%;
  width: 200px;
  border-radius: 50%;
  /* dis */
}

.sidebar__infoblock {
  padding: 1.25rem 0;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v124/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOejbd5zrDAt.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}



[class^='material__icon'] {
  font-family: 'Material Symbols Outlined';
  font-size: 1rem;
  font-style: normal;
} 

.material__icon--link:after {
  content: '\e157';
}

.material__icon--call:after {
  content: '\e0b0';
}

.material__icon--alternate_email:after {
  content: '\e0e6';
}

.material__icon--location_on:after {
  content: '\e0c8';
}

.material__icon--sell:after {
  content: '\e892';
}

.list__acheivements > li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.list__acheivements .list__acheivements__icon {
  padding-right: 1rem;
  font-size: 1rem;
}

.list__acheivements .list__acheivements__content h5 {
  font-size: 1rem;
  margin: 0;
}

.list__acheivements .list__acheivements__content p {
  font-size: 0.88rem;
}

.list__projects--inner {
  padding: 1rem 0 0 1rem;
  font-size: 0.88rem 
}

.list__projects {
  /* padding-left: ; */
}

.list__projects > li {
  margin-bottom: 0.5rem;
  /* list-style-type: thumbs; */
  position: relative;
}

.list__projects > li:before {
  /* font-family: 'remixicon' !important; */
  font-family: "font-mfizz";
  content: "\f15a";
  left: -20px;
  top: 4px;
  position: absolute;
}

.list__projects > li > a,
.list__projects > li > span {
  color: #fff;
  font-size: 0.88rem;
}

/* @counter-style thumbs {
  system: cyclic;
  symbols: "\eae3";
  suffix: " ";
} */

