@mixin paddingMixin($pad...) {
	padding: $pad;
}

@mixin clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}


@mixin defaultListingSection {
	background: $headerBgColor;
	color: #fff;
	overflow:hidden;
	h3 {
		color: #fff;
	}
}