@import 'variables';
@import 'mixin';
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,700i');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
// @import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700');

*,*:before,*:after {
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding:0;
	margin:0;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	// font-family: 'Open Sans', sans-serif;
	// font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: $bodyFontSize;
	padding: 0;
	margin: 0;
	color: $bodyFontColor;
	line-height: 1.4;
}

h1 , h2 , h3 , h4 , h5 , h6 {
	margin-top:0;
	// font-family: 'Ubuntu', sans-serif;
	font-family: 'Merriweather', serif;
	color: $bodyHeadingColor;
}

h2 , h3 , h4 , h5 , h6 {
	font-weight: 400;
}

h1  {
	font-size: 3.12em;
}

body > section,
body > div,
body > header {
	padding-top: 2em;
	padding-bottom: 2em;
}

.col-md-4 {
	width: 33.3333334%;
}

.col-md-3 {
	width: 25%;
}

.col-md-8 {
	width: 66.6666666%;
}

.col-md-9 {
	width: 75%;
}

.col-md-4, .col-md-8 , .col-md-3 , .col-md-9 {
	float: left;
}

.skill-circle .icon {
	font-family: "font-mfizz";
}

.skill-circle:before {
	display:none;
}

.skill-circle {
	g , .timer {
		// display: none;
	}
}
	

a,
a:hover,
a:focus,
a:active {
	color: $bodyFontColor;
	text-decoration: none;
	transition: all .25s;
}

.section-header {
	background: $headerBgColor;
	display:inline-block;
	padding: 0.5em 3em;
	margin-bottom: 1.5em;
	h2 {
		color: #fff;
		margin-bottom: 0;
		white-space: nowrap;
	} 
}

p {
	margin: 0;
}


.line-section-header {
	margin-bottom: 1.88em;
}

.line-section-header > h2 {
	position: relative;
	color: #fff;
	background: $lightBlueShade;
	display:inline-block;
	padding: 0.25em 1.25em;
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: calc(100% + 100px);
		height: 2px;
		width: 100vw;
		transform: translateY(-100%);
		background: $lightBlueShade;
	}
}


.dotted__list {
	>li {
		position: relative;
		padding-left: 1rem;
		margin-bottom: 0.25rem;	

		&:after {
			content: '';
			position: absolute;
			top: 5px;
			left: 0;
			height: 6px;
			width: 6px;
			background: #fff;
			border-radius: 50%;
		}
	}
}

// END GLOBAL  

.site-main-intro-header {
	background: $backgroundGrey;
	@include paddingMixin(4em 0);
	h1 {
		margin-bottom: 0;
	}
	p {
		font-size: 1.56em;
	}
}

.container {
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
	padding-left:15px;
	padding-right:15px;
}

.container {
	@include clearfix;
}

.about-me-section {
	// .container > div:nth-of-type(1) {
	// 	padding-right: 15px;
	// }
	.container > div:nth-of-type(2) {
		padding-left: 30px;
	}
}

.about-me-box {

	dl {
		@include clearfix;
	}

	dl > dt,
	dl > dd {
		float: left;
		margin-bottom: 0.75em;
	}

	dl > dd {
		margin-left: 0.62em;
	}

	dl > dt {
		clear: both;
		min-width: 40px;
	}
}

.about-me-content-box {
	@include clearfix;
	border-top: 2px solid $lightBlueShade;
	border-bottom: 2px solid $lightBlueShade;
	padding-top: 2em;
	padding-bottom: 2em;
}

.about-me-content-box {
	.img-wrpr {
		width: 20%;
	}
	
	.content-wrpr {
		width: 80%;
		padding-left: 2em;
	}

	.img-wrpr , .content-wrpr {
		float: left;
	}

	.content-wrpr > p {
		font-size: 1.35em;
		// font-weight: 600;
	}

	.img-wrpr > img {
		display: block;
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
		border-right: 4px solid $lightBlueShade;
	}
}

.experience-section , .achievements-section , .education-section , .more-about-me-section{
	@include defaultListingSection;
}

.education-section {
	.year-timeline-list li > .header > span {
		min-width: 120px;
	}
}

.year-timeline-list {
    li {
    	padding-left: 1.88em;
    	margin-bottom: 2em;
    	position: relative;
    }

    li:last-child {
    	margin-bottom: 0;
    }

    li:after {
    	content: '';
    	position: absolute;
    	top: 10px;
    	left: 0;
    	height: 10px;
    	width: 10px;
    	background: #fff;
    	border-radius: 50%;
    }

    li > .header {
    	display: flex;
    	align-items:center;
    	justify-content:flex-start;
    	margin-bottom: 1em;
    }

    li > .header > h3 {
		font-size: 1.25em;;
		font-weight: 300;
		margin-bottom: 0;
		margin-top: 0;
		min-width: 500px;
		font-weight: 700;
    }

    li > .header > span {
    	background: $lightBlueShade;
    	padding: 0.15em 0.5em;
    	min-width: 280px;
    	white-space: nowrap;
    	text-align: center;
    }

    li > .header > span > em {
    	font-style: normal;
    	font-weight: 900;
    	display: inline-block;
    	margin-left: 0.3em;
    	font-size: 1.12em;
    }

    li > p {
    	font-size: 1.12em;
    }

    li > ul {
    	margin-top: 1em;
    }

    li > ul > li {
    	margin-bottom: 0em;
    }

    li > ul > li > span {
    	font-weight: 700;
    	display: inline-block;
    	min-width: 80px;
    }

    li > ul > li > a {
    	display: inline-block;
    	margin-left: 0.5em;
    	color: #fff;
    }

    li > ul > li:after {
    	height: 6px;
    	width: 6px;
    }

    li > ul.role-and-tools > li > span:nth-of-type(1) {
    	font-weight: 600;
    }

    li > ul.role-and-tools > li > span:nth-of-type(2) {
		font-weight: 100;
    }

    li > ul.role-and-tools > li:after {
    	display: none;
    }

    li > ul.role-and-tools > li {
    	padding-left: 0;
    	margin-bottom: 0.5em;
    }

    li > ul.role-and-tools > li:last-child {
    	margin-bottom: 0;
    }

    li > ul.role-and-tools {
    	margin-bottom: 1em;
    }
}

